body  {
main  {text-align: left;
font-size: x-large;}
}
  
header   {
   background-color: rgb(182, 226, 59);  
   color:rgb(83, 75, 8);font-family:Arial, Helvetica, sans-serif;    ;
   text align: center;
   font-size: xx-large;
     

   section class="form login" {font-size: x-large;}
   section class="form sign-up"  {font-size:x-large;}
      img{   <border:5></border:5>px solid black;"> }
}
   p1 {
      background-color: rgb(179, 229, 229);
      color: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: xx-large;
   }
   
}  }

   